@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;400;600;800&family=Roboto+Mono:wght@100&display=swap');

.card-button {

    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    background-color: rgb(145, 186, 222);
    cursor:pointer;
    font-weight: bold;
    padding: 10px;
    width: 300px;
}